ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;

}

button {
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}