:root{
    --first-main-color-- :
}

body {
    font-family: "Roboto";
    font-size: 14px;
    color: rgba(33, 33, 33, 1);
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    margin: 0 auto;
    max-width: 696px;
    padding-bottom: 40px;
}

.hero-btn {
    background-color: rgba(33, 150, 243, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: block;
    margin: 0 auto;
}

.features-list-title {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 270px;
}

.features-list-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.nav-list-link:hover{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(33, 150, 243, 1);
}
.nav-list-link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(33, 33, 33, 1);
}
.contacts-list-link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
}

.work-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}


.header-logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(0, 0, 0, 1)

}
.contacts-list-link:hover{
    color: rgba(33, 150, 243, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    
}
.team-list-img{
    width: 270px;
    height: 260px; 
    
}
.work-list-img{
    width: 370px;
    height: 294px;    
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.hero{
    padding: 200px 0;
    background-color: 2F303A;
    margin: 0 auto;   
}
.features{
    margin: 94px 0;
}
.work{
    padding: 94px 0;
}
.team{
    padding-top: 94px;
    background-color: F5F4FA;
}
.footer{
    background-color: 2F303A;
    padding: 60px 0;
}
.header-content-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 94px;
}
.contacts-list{
    display: flex;
    gap: 50px;
}
.work-content-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-list{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.features-list{
    display: flex;
    gap: 30px;
}

.team-list{
    display: flex;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
}
.footer-content-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: flex;
    justify-content: center;
    
}

.footer-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);    
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.address-list{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.address-list-link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}
.address-list-link-address{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.team-item-wrap{
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding: 30px;
}
.team-list-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(117, 117, 117, 1);
}
.features-list-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
}
.logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(33, 150, 243, 1);
    display: flex;
}