:root{
    --first-main-color-- :
}

body {
    font-family: "Roboto";
    font-size: 14px;
    color: rgba(33, 33, 33, 1);
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    margin: 0 auto;
    max-width: 696px;
    padding-bottom: 40px;
}

.hero-btn {
    background-color: rgba(33, 150, 243, 1);
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    height: 50px;
    width: 216px;
}


.features-list-title {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 270px;
}
.features-list-title-1::before {
    background-image: url(./Group\ 1.png);
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.features-list-title-2::before {
    background-image: url(./Group\ 2.png);
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.features-list-title-3::before {
    background-image: url(./Group\ 3.png);
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.features-list-title-4::before {
    background-image: url(./Group\ 4\ \(1\).png);
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.features-list-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.nav-list-link:hover{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(33, 150, 243, 1);
}
.nav-list-link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(33, 33, 33, 1);
}
.contacts-list-link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contacts-list-icon{
    fill: currentColor;
}

.work-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}
.social-list{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 16px;
}
.social-list-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.social-list-link:hover {
    background-color: rgba(33, 150, 243, 1);
    color: white;
}
.social-list-icon {
    fill: currentColor;
}
.project-list-desc-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.clients-list{
    display: flex;
    gap: 30px;
}
.clients-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px ;
}

.clients-list-link{
    display: flex;
    height: 92px;
    border: 1px solid gray;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(175, 177, 184, 1);
}
.clients-list-icon{
    fill: currentColor;
}
.clients-list-link:hover{
    color: rgba(33, 150, 243, 1);
    border: 1px solid rgba(33, 150, 243, 1);
}

.clients-list-item {
    flex-basis: calc((100% - 150px) / 6);
}
.clients{
    padding: 94px 0;
}
.header-logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(0, 0, 0, 1)

}
.contacts-list-link:hover{
    color: rgba(33, 150, 243, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    
}
.team-list-img{
    width: 270px;
    height: 260px; 
    
}
.work-list-img{
    width: 370px;
    height: 294px;    
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.hero{
    background-image: url("./Img\ \(15\).png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    width: 1600px;
    margin: 0 auto;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.features{
    margin: 94px 0;
}
.work{
    padding: 94px 0;
}
.team{
    padding-top: 94px;
    background-color: F5F4FA;
}
.footer{
    background-color: 2F303A;
    padding: 60px 0;
}
.header-content-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 94px;
}
.contacts-list{
    display: flex;
    gap: 50px;
}
.work-content-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-list{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.features-list{
    display: flex;
    gap: 30px;
}

.team-list{
    display: flex;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
}
.footer-content-wrap{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
}
.footer-media-wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);    
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.address-list{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.address-list-link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}
.address-list-link-address{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.media-title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.media-list{
    display: flex;
    gap: 10px;
}

.media-list-link {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.media-list-link:hover {
    background-color: rgba(33, 150, 243, 1);
}
.media-list-icon{
    fill: currentColor;
}
.team-item-wrap{
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-list-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(117, 117, 117, 1);
    padding-top: 10px;
}
.features-list-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
}
.logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(33, 150, 243, 1);
    display: flex;
}