h1 {
    font-family: "roboto";
    font-size: 44px;
}

button {
    font-family: "roboto";
    font-size: 16px;
    background: rgba(33, 150, 243, 1);
    ;
}

.text>li>h3 {
    font-family: "roboto";
    font-size: 14px;
}

.text>li>p {
    font-family: "roboto";
    font-size: 14px;
}

section>h2 {
    font-family: "roboto";
    font-size: 36px;
}

.textio>li>h2 {
    font-family: "roboto";
    font-size: 16px;
}

.textio>li>p {
    font-family: "roboto";
    font-size: 16px;
}

.adress {
    font-family: "roboto";
    font-size: 14px;
}